<div class="card mb-4">
  <div class="card-body">
    <div class="bg-light text-uppercase font-weight-bold py-2 px-3">
      Order Summary
    </div>
    <div class="p-4">
      <p class="font-italic mb-4">Shipping costs will be added depending on choices made during checkout</p>
      <ul class="list-unstyled">
        <li class="d-flex justify-content-between py-2 border-bottom">
          <span class="text-muted">Order subtotal</span>
          <strong>{{subtotal | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-2 border-bottom">
          <span class="text-muted">Shipping and handling</span>
          <strong>{{shippingPrice | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-2 border-bottom">
          <span class="text-muted">Total</span>
          <strong>{{total | currency}}</strong>
        </li>
      </ul>
    </div>
  </div>
</div>
