<carousel [isAnimated]="true">
  <slide>
      <img src="../../assets/images/background1.jpg" alt="slide">
  </slide>
  <slide>
      <img src="../../assets/images/background2.jpg" alt="slide">
  </slide>
  <slide>
      <img src="../../assets/images/background3.jpg" alt="slide">
  </slide>
  <slide>
    <img src="../../assets/images/background4.gif" alt="slide">
</slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
      <h1>Welcome to the Shop!</h1>
  </div>
</section>
