<div class="container mt-2">
  <div *ngIf="(basket$ | async) === null" class="text-center">
    <p>Your basket is empty</p>
  </div>

  <div *ngIf="(basket$ | async) as basket">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-basket-summary
              (decrement)="decrementItemQuantity($event)"
              (increment)="incrementItemQuantity($event)"
              (remove)="removeBasketItem($event)"
              [items]="(basket$ | async)?.items ?? []"
            >
            </app-basket-summary>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <app-order-totals
              *ngIf="(basketTotals$ | async)"
              [shippingPrice]="(basketTotals$ | async)?.shipping ?? 0"
              [subtotal]="(basketTotals$ | async)?.subtotal ?? 0"
              [total]="(basketTotals$ | async)?.total ?? 0"
            >
            </app-order-totals>
            <a routerLink="/checkout" class="btn btn-outline-primary btn-block py-2">
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
