<!-- <div class="row" *ngIf="product">
  <div class="col-6">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100">
  </div>
  <div class="col-6">
  <h3>{{product.name}}</h3>
  <p>{{product.price | currency}}</p>
  <div class="d-flex justefy-content-start align-items-center">
    <i class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer;font-size: 2em;"></i>
    <span class="font-weight-bold" style="font-size: 1.5em;">2</span>
    <i class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer;font-size: 2em;"></i>
    <button class="btn btn-outline-secondary btn-lg ml-4">Add To Cart</button>
  </div>
  </div>
  <div class="col-12">
    <h4>Descriptions</h4>
    <p>{{product.description}}</p>
  </div>
</div> -->
<div class="container mt-5" *ngIf="product">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card shadow-lg">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img [src]="product.pictureUrl" [alt]="product.name" class="card-img img-fluid">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h3 class="card-title">{{product.name}}</h3>
              <p class="card-text">{{product.price | currency}}</p>
              <div class="d-flex justify-content-start align-items-center my-3">
                <i class="fa fa-minus-circle text-warning mr-3" style="cursor: pointer; font-size: 2em;"></i>
                <span class="font-weight-bold mx-2" style="font-size: 1.5em;">2</span>
                <i class="fa fa-plus-circle text-warning ml-3" style="cursor: pointer; font-size: 2em;"></i>
                <button class="btn btn-outline-primary btn-lg ml-4">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <h4>Description</h4>
          <p class="card-text">{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
