
.card {
  border: none;
  border-radius: 0.5rem;
}

.card-body {
  padding: 2rem;
}

.form-floating {
  position: relative;
}

.form-floating input[type="email"],
.form-floating input[type="password"] {
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .card {
    margin: 0 1rem;
  }
}

.loader{
  position: absolute;
  width: auto;
  top: 18px;
  right: 10px;
  margin-top: 0;
}
