.list-group{
  li {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    margin-top: 2px;
    border-radius: 8px;
    &:hover:not(.active){
      background-color: rgb(233 84 32 / 70%);
      color: #fff;
    }
    &:focus{
      outline: none;
    }
  }
}
