.logo{
  cursor: pointer;
  outline: none;
}
a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: #17a2b8;
  }
}

.cart-no {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  background-color: #17a2b8;
  color: white;
  top: -12px;
  right: 32px;
}
